<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_base_ecommerce_root"
              name="Ecommerce Channels"
              web_icon="base_ecommerce, static/description/icon.png"
              sequence="0"/>

<!--    <menuitem id="menu_file_import_root"-->
<!--              name="File Import - Amazon"-->
<!--              parent="base_ecommerce.menu_shop_import_logs"-->
<!--              sequence="20"/>-->

<!--    <menuitem id="menu_mkt_root"-->
<!--              name="MKT"-->
<!--              parent="base_ecommerce.menu_base_ecommerce_root"-->
<!--              sequence="60"/>-->

    <menuitem id="menu_shop_sales_channel_root"
              name="Import Data Files"
              parent="base_ecommerce.menu_base_ecommerce_root"
              sequence="20"/>

    <menuitem id="menu_settings_root"
              name="Settings"
              parent="base_ecommerce.menu_base_ecommerce_root"
              groups="base_ecommerce.group_to_show_ecommerce_settings"
              sequence="30"/>

</odoo>
